<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <div th:replace="/fragments/head.html :: headFragment"></div>
</head>
<body>
<!-- header start -->
<div th:replace="/fragments/header.html :: headerFragment"></div>
<!-- header end -->

<main id="main">

    <!-- Breadcrumbs start -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/banner.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>커뮤니티</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="../">Home</a></li>
                    <li>커뮤니티</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- Breadcrumbs end -->

    <!-- boardList start -->
    <section id="horizontal-pricing" class="horizontal-pricing pt-0">
        <div class="btn-group btn-group-toggle mb-5" data-toggle="buttons" style="display: flex; width: 70%; justify-content: center; margin: 50px auto;">
            <label class="btn btn-primary active" style="background-color: #0d42ff; border: none; font-weight: bold;">
                <input type="button" checked="checked" th:checked="${curCategory == null}" th:href="@{/board/list}" style="opacity: 0;"/> 전체
            </label>
            <th:block th:each="cate : ${categories}">
                <label class="btn btn-primary" th:classappend="${cate.cate eq curCategory} ? 'active' : ''" style="background-color: lightgray; color: #000000; border: none; font-weight: bold;">
                    <input type="button" th:checked="${cate.cate eq curCategory}" th:href="@{/board/list(cate = ${cate.cate})}" style="opacity: 0;"/> <span th:text="${cate.cateName}"></span>
                </label>
            </th:block>
        </div>


        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="pricing-item featured" style="padding:0;">
                        <table class="table" style="width:100%; ">
                            <thead>
                            <tr>
                                <th scope="col" width="80">#</th>
                                <th scope="col" width="600">제목</th>
                                <th scope="col">등록일</th>
                                <th scope="col">작성자</th>
                                <th scope="col">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board, boardStat : ${list}">
                                <th scope="row" th:text="${boardStat.index}"></th>
                                <td><a th:text="${board.title}" th:href="@{/board/detail(seq = ${board.seq})}" style="color:#000000;"></a></td>
                                <td th:text="${#dates.format(board.regdate,'yyyy-MM-dd')}"></td>
                                <td th:if="${board.nickname == 1}">관리자</td>
                                <td th:text="${board.visited}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <nav aria-label="Page navigation example" >
            <a th:if="${curPage > 5}" th:href="@{/board/list(page=${page.blockStartNum - 1})}"
               class="page-link">Previous</a>
            <a th:if="${page.blockLastNum < page.totalPageCount}" th:href="@{/board/list(page=${page.blockLastNum + 1})}"
               class="page-link">Next page</a>

            <ul class="pagination justify-content-center">
                <th:forEach var="i" begin="${page.blockStartNum}" end="${page.blockLastNum}">
                    <th:choose>
                        <th:when test="${i == curPage}">
                            <li class="page-item">
                                <a th:href="@{/board/list(page=${i})}"
                                   class="page-link active" aria-label="Page ${i}"
                                   aria-current="page" style="background-color: #0d42ff; color:#FFFFFF;" >${i}</a>
                            </li>
                        </th:when>
                        <th:otherwise>
                            <li class="page-item">
                                <a th:href="@{/board/list(page=${i})}"
                                class="page-link" aria-label="Page ${i}" aria-current="page">${i}</a>
                            </li>
                        </th:otherwise>
                    </th:choose>
                </th:forEach>
            </ul>
        </nav>
    </section>

</main>


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- footer start -->
<div th:replace="/fragments/footer.html :: footerFragment"></div>
<!-- footer end -->
</body>
</html>