<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 작성하기</title>
    <div th:replace="/fragments/head.html :: headFragment"></div>
</head>
<body>
<!-- header start -->
<div th:replace="/fragments/header.html :: headerFragment"></div>
<!-- header end -->

<main id="main">

    <!-- Breadcrumbs start -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/banner.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>커뮤니티 작성하기</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="../">Home</a></li>
                    <li>커뮤니티 작성하기</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- Breadcrumbs end -->

    <!-- boardInsert start-->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-item featured" style="padding:0;">
                    <form action="/board/insert" method="post">
                        <div class="col-12">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="table-responsive project-list">
                                        <table class="table project-table table-centered table-nowrap">
                                            <tbody>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 15%;">카테고리</th>
                                                <td>
                                                    <div class="panel single-accordion">
                                                        <select name="cate" id="cate" class="collapseOne w-100" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;">
                                                            <option th:each="category : ${categories}" th:value="${category.cate}" th:text="${category.cateName}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 15%;">제목</th>
                                                <td><input type="text" id="title" name="title" placeholder="제목을 입력하세요" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 15%;">내용</th>
                                                <td>
                                                    <textarea name="content" id="content" rows="8" maxlength="1000" class="form-control" style="height: 200px; border: 1px solid #cbcbcb"></textarea>
                                                    <script>
                                                        $(document).ready(function () { $("#content").cleditor(); });
                                                    </script>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="btn-group float-right mr-3" style="float:right;">
                                            <input type="submit" id="btn" class="btn btn-dark" style="height: 100%; " value="등록">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- boardInsert end -->
</main>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- footer start -->
<div th:replace="/fragments/footer.html :: footerFragment"></div>
<!-- footer end -->
</body>
</html>