<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <div th:replace="/fragments/head.html :: headFragment"></div>
</head>
<body>
<!-- header start -->
<div th:replace="/fragments/header.html :: headerFragment"></div>
<!-- header end -->

<main id="main">

    <!-- Breadcrumbs start -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/banner.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>로그인</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="../">Home</a></li>
                    <li>로그인</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- Breadcrumbs end -->


    <section id="get-a-quote" class="get-a-quote">
        <div class="container" data-aos="fade-up">
            <div class="row g-0">
                <div class="col-lg-5 quote-bg" style="background-image: url(/img/banner.jpg);"></div>
                <div class="col-lg-7">
                    <form th:action="@{/login}" method="post">
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                        <div class="form-outline mb-4 text-center">
                            <a th:href="@{/}"><img th:src="@{/image/common/logo.png}" style="width:30%" /></a>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" placeholder="아이디를 입력하세요." class="form-control" id="loginId" name="loginId" required />
                            <label class="form-label" for="loginId" style="display:none;">아이디</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" placeholder="*******" class="form-control" id="password" name="password" required />
                            <label class="form-label" for="password" style="display:none;">비밀번호</label>
                        </div>

                        <div class="row mb-4 text-center" th:if="${exception eq 'error01'}">
                            <div class="col">
                                <p style="color:red">아이디 또는 비밀번호가 올바르지 않거나 가입이 되지 않았습니다.</p>
                            </div>
                        </div>

                        <div class="row mb-4 text-center" th:if="${param.authError}">
                            <div class="col">
                                <p style="color:red">토큰 정보가 만료되었습니다. 토큰을 갱신하시기 바랍니다.</p>
                            </div>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col">
                                <!-- Simple link -->
                                <a th:href="@{/findId}" >아이디 찾기</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">로그인</button>
                    </form>
                </div>

            </div>

        </div>
    </section>

</main>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- footer start -->
    <div th:replace="/fragments/footer.html :: footerFragment"></div>
    <!-- footer end -->
</body>
</html>