<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link id="headerPath" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
</head>
<body>
<header th:fragment="headerFragment" id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="../" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="../" class="active">Home</a></li>
                    <li><a href="/market/marketList">중고거래</a></li>
                    <li><a href="/board/list">게시판</a></li>
                    <li class="dropdown"><a href="/notice/list"><span>고객지원</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/notice/list">공지사항</a></li>
                        </ul>
                    </li>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/user/login}" class="get-a-quote">로그인</a></li>
                        <li><a th:href="@{/user/term}" class="get-a-quote"></i>회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/logout}" class="get-a-quote">로그아웃</a></li>
                        <th:block sec:authorize="hasRole('USER') || hasRole('TEACHER') || hasRole('EMP')">
                            <li><a th:href="@{/mypage}" class="get-a-quote">마이페이지</a></li>
                        </th:block>
                        <th:block sec:authorize="hasRole('EMP') || hasRole('ADMIN')">
                            <li><a th:href="@{/admin/userList}" class="nav-item nav-link">관리자 홈페이지</a></li>
                        </th:block>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>